<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<!-- This is our own small settings widget code for Live Portal -->
<div id="LiveportalSettingsWidgetSmall" hidden>
    <!-- 
        we grab the code from here down to insert it Above link is just to allow us to use DOM to grab it
        While the extensions canload the file from disk we can't on teh webpage so we just embed this and
        use the dom to copy it. Bit of a hack but simpler than loading it from the server.
    -->
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-light text-dark">
            <div class="modal-header">
                <h2 class="modal-title">Live Portal Admin Settings</h2>
                <button type="button" class="btn-close bg-light" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- Invisible channel name data -->
                <div class="form-group invisible">
                    <input type="hidden" name="extensionname" class="form-control" value="extensionnametext"
                        tabindex="-1" />
                    <input type="hidden" name="modalcodetype" class="form-control" value="SettingsWidgetSmallCode"
                        tabindex="-1" />
                    <input type="hidden" name="modaldatatype" class="form-control" value="SettingsWidgetSmallData"
                        tabindex="-1" />
                    <input type="hidden" name="channel" class="form-control" value="channeltext" tabindex="-1" />
                </div>
                <h4 class="modal-title">Display/Hide Extensions</h4>
                <div class="form-group">

                    <label class="col-form-label">Deselect the items you don't want to show on this page</label>
                    <BR>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="streamersonglistdisplay" type="checkbox"
                            id="streamersonglistdisplay" streamersonglistdisplaychecked>
                        <label class="form-check-label" for="streamersonglistdisplay">StreamerSonglist</label>
                    </div>
                    <BR>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="discordmodchatdisplay" type="checkbox"
                            id="discordmodchatdisplay" discordmodchatdisplaychecked>
                        <label class="form-check-label" for="discordmodchatdisplay">Discord mod chat</label>
                    </div>

                </div>
                <div class="form-group">
                </div>

                <h4 class="modal-title">OBS Scene buttons</h4>
                <div class="form-group">
                    <label class="col-form-label">Extra scene buttons to display on top of defaults start, live,
                        intermission and end buttons (set identifier tags in the obs extension settings
                        first)</label><BR>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="showprimaryscenes" type="checkbox" id="showprimaryscenes"
                            showprimarysceneschecked>
                        <label class="form-check-label" for="showprimaryscenes">Primary Scenes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="showsecondaryscenes" type="checkbox"
                            id="showsecondaryscenes" showsecondarysceneschecked>
                        <label class="form-check-label" for="showsecondaryscenes">Secondary Scenes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="showallscenes" type="checkbox" id="showallscenes"
                            showallsceneschecked>
                        <label class="form-check-label" for="showallscenes">Show All Scenes</label>
                    </div>
                </div>

                <h4 class="modal-title">Random Facts</h4>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="randomfactsenabled" type="checkbox"
                            id="randomfactsenabled" randomfactsenabledchecked>
                        <label class="form-check-label" for="randomfactsenabled">Enable random facts</label>
                    </div>
                    <div class="form-group">
                        <label for="randomfactstimeout" class="col-form-label">How often to post random facts to twitch
                            chat(minutes)</label>
                        <input type="text" name="randomfactstimeout" class="form-control" id="randomfactstimeout"
                            value="randomfactstimeouttext">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>