/**
 *      StreamRoller Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 * 
 *      StreamRoller is an all in one streaming solution designed to give a single
 *      'second monitor' control page and allow easy integration for configuring
 *      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
 *      controlled by donations etc)
 * 
 *      This program is free software: you can redistribute it and/or modify
 *      it under the terms of the GNU Affero General Public License as published
 *      by the Free Software Foundation, either version 3 of the License, or
 *      (at your option) any later version.
 * 
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU Affero General Public License for more details.
 * 
 *      You should have received a copy of the GNU Affero General Public License
 *      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
 /*@import url('/liveportal/stylesheets/Audiowide-Regular.ttf');*/
@font-face {
	font-family: 'Audiowide-Regular';
	src: url(/liveportal/stylesheets/Audiowide-Regular.ttf);
	}
body,html
{
  font-family: "Audiowide-Regular";
  height: 100%;
}
.card-title
{
  font-family: "Audiowide-Regular";
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 0px;
}
input
{
  background-color:rgb(189, 189, 189);
}
.form-control
{
  background-color:rgb(189, 189, 189);
}
.form-check-input
{
  background-color:rgb(189, 189, 189);
}


#ChatMessagesCard
{
  font-family: sans-serif;
}
#MessagesCard
{
  font-family: sans-serif;
}
a 
{
  color: #1ea0d3;
}
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}
.nav-tabs
{
  border: 0px;
  padding: 1px;
}
#SettingsPageTabs
{
  border: 1px dotted grey
}
.modal{
      font-family: "Noto Sans";
    font-size: large;
}
.settings-body{
      font-family: "Noto Sans";
    font-size: large;
}
.card-body{
  padding-top: 1px;
  padding-bottom: 1px;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}
.extensioncardicon
{
  color: #1ea0d3;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
}
.dropdown-menu 
{
  border: 1px solid grey;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}
.box .row.content {
  flex: 1 1 auto;
}
.box .row.footer {
  flex: 0 1 40px;
}