.vscode
**/node_modules
BAK*
cheatsheet.txt
debug.log
streamtool/debug.log
ODG_Overlay
odg/
*.env
tmp/
php/
test-ext/
credentialstore/
configstore/
datastore/
tempfiles/
timerfiles/
chatdata/
msfsdata/
debug_only_testing*
extensions/quizbot/questions.txt
