<p class="text-center text-muted">Creator <a href="https://twitch.tv/OldDepressedGamer" target="creatorwindow">twitch.tv/OldDepressedGamer</a>
<BR><a href="https://github.com/SilenusTA/StreamRoller" target="creatorwindow">Streamroller on github</a></p>
<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    let modeDark = localStorage.getItem("darkmode")
    // check for no stored value
    if(!modeDark)
        modeDark="false";
    window.onload = setDarkMode(modeDark)
    
    // on click handler for switching dark mode
    $('.darkswitch').click(() =>
    {
        if(modeDark == "true")
            modeDark = "false"
        else
            modeDark = "true"
        localStorage.setItem('darkmode', modeDark);
        setDarkMode(modeDark);
    });

    // ============================================================================
    //                           FUNCTION: refreshDarkMode
    // ============================================================================
    // Desription: refreshes the current mode (used whan page is dynamically updated)
    // Parameters: none
    // ----------------------------- notes ----------------------------------------
    // none
    // ============================================================================
    function refreshDarkMode()
    {
        setDarkMode(localStorage.getItem("darkmode"))
    }
    // ============================================================================
    //                           FUNCTION: setDarkMode
    // ============================================================================
    // Desription: sets the LightDark mode theme
    // Parameters: none
    // ----------------------------- notes ----------------------------------------
    // none
    // ============================================================================
    function setDarkMode(modeDark)
    {
        // both arrays need to match up elements in the same indix. ie index 2 should be bg-dark and bg-light to allow swapping
        let darkclasses = ['dark','bg-dark','navbar-dark','text-light'];
        let lightclasses = ['light','bg-light','navbar-light','text-dark'];
        
        // get all the dark and light class items
        $([".light [class*='-light']", ".dark [class*='-dark']"]).each((i, ele) =>
        {
            //for each item in the class ...
            $(ele).each(function ()
            {
                let tag = ""; // class we are currently working on
                let newclasses = ""; // list of new classes to replace the existing ones
                let match = null // gets set to a new class if we have found a light/dark class
                for (i = 0; i < $(this)[0].classList.length; i++)
                {
                    match = null
                    tag = $(this)[0].classList[i].toString()
                    // if in dark mode
                    if(modeDark=="true")
                    {
                        lightclasses.forEach((element,index,arr) =>
                        {
                            if(element == tag)
                                match=darkclasses[index]
                        })
                        if (match)
                            newclasses = newclasses + " " + match;
                    }
                    // if in light mode
                    else
                    {
                        darkclasses.forEach((element,index,arr) =>
                        {
                            if(element == tag)
                                match=lightclasses[index]
                        })
                        if (match)
                            newclasses = newclasses + " " + match;
                    }
                    // if the tag didn't match just copy the original tag
                    if(!match)
                        newclasses = newclasses + " " + $(this)[0].classList[i].toString();
                }
                // change the classlist to the new modified oen
                $(this)[0].classList.value = newclasses;
            })
        });
        
        // set the body tags (these don't get read by the above code)
        if(modeDark=="true")
        {
            $('body').addClass('dark').removeClass('light');
            $('body').addClass('bg-dark').removeClass('bg-light');
            $('body').addClass('text-light').removeClass('text-dark');
        }
        else
        {
            $('body').addClass('light').removeClass('dark');
            $('body').addClass('bg-light').removeClass('bg-dark');
            $('body').addClass('text-dark').removeClass('text-light');
        }
    }
</script>