<p class="text-center text-muted">Creator <a href="https://twitch.tv/OldDepressedGamer" target="creatorwindow">twitch.tv/OldDepressedGamer</a>
<BR><a href="https://github.com/SilenusTA/StreamRoller" target="creatorwindow">Streamroller on github</a></p>
<!-- Bootstrap JS Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    // Switch colour schemes from dark to light. Only works on elements with the classes ...
    //  *-light, *.light, *-dark, *.dark and body tags light, dark
    if (localStorage.getItem("darkmode") == null)
        localStorage.setItem('darkmode', "false");
    else
        if (localStorage.getItem("darkmode") === "true")
            toggleDarkMode();

    $('.darkswitch').click(() =>
    {
        toggleDarkMode();
        if (localStorage.getItem("darkmode") === "true")
            localStorage.setItem('darkmode', "false");
        else
            localStorage.setItem('darkmode', "true")
    });
    // ============================================================================
    //                           FUNCTION: toggleDarkMode
    // ============================================================================
    // Desription: toggles the page into dark/light mode
    // Parameters: none
    // ----------------------------- notes ----------------------------------------
    // none
    // ===========================================================================
    function toggleDarkMode()
    {
        $([".light [class*='-light']", ".dark [class*='-dark']"]).each((i, ele) =>
        {
            $(ele).each(function ()
            {
                let classes = "";
                for (i = 0; i < $(this)[0].classList.length; i++)
                {
                    switch ($(this)[0].classList[i].toString())
                    {
                        case 'light':
                            classes = classes + " dark";
                            break;
                        case 'bg-light':
                            classes = classes + " bg-dark";
                            break;
                        case 'navbar-light':
                            classes = classes + " navbar-dark";
                            break;
                        case 'text-light':
                            classes = classes + " text-dark";
                            break;
                        case 'dark':
                            classes = classes + " light";
                            break;
                        case 'bg-dark':
                            classes = classes + " bg-light";
                            break;
                        case 'navbar-dark':
                            classes = classes + " navbar-light";
                            break;
                        case 'text-dark':
                            classes = classes + " text-light";
                            break;
                        default:
                            classes = classes + " " + $(this)[0].classList[i].toString();
                    }
                }

                $(this)[0].classList.value = classes;
            })
        });
        $('body').toggleClass('light dark');
        $('body').toggleClass('bg-light bg-dark');
        $('body').toggleClass('text-light text-dark');

    }
</script>