<div id="livestreamingportalmodalplaceholder" hidden>
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-light text-dark">
            <div class="modal-header">
                <h5 class="modal-title">Live Portal Admin Settings</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>Live Portal Settings
                </p>
                <!-- Invisible channel name data -->
                <div class="form-group invisible">
                    <input type="hidden" name="extensionname" class="form-control" value="extensionnametext"
                        tabindex="-1" />
                    <input type="hidden" name="modalcodetype" class="form-control" value="AdminModalCode"
                        tabindex="-1" />
                    <input type="hidden" name="modaldatatype" class="form-control" value="AdminModalData"
                        tabindex="-1" />
                    <input type="hidden" name="channel" class="form-control" value="channeltext" tabindex="-1" />
                </div>
                <div class="form-group"> Scene Display
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="showSecondaryScenes" type="checkbox"
                            id="showSecondaryScenes" showSecondarySceneschecked>
                        <label class="form-check-label" for="showSecondaryScenes">Secondary Scenes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="showAllScenes" type="checkbox" id="showAllScenes"
                            showAllSceneschecked>
                        <label class="form-check-label" for="showAllScenes">Show All Scenes</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>