/*@import url('/fakedeck/stylesheets/Audiowide-Regular.ttf');*/
@font-face {
  font-family: 'Audiowide-Regular';
  src: url(/fakedeck/stylesheets/Audiowide-Regular.ttf);
}

body,
html {
  font-family: "Audiowide-Regular";
  background-color: #212529 !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.main-container {
  padding: 0px
}

.main-container {
  height: 100vh;
  width: 100vw;
  padding: 0px;
}

#mainWindow {
  height: 100%;
  padding: 0px;
}

#MacroButtonsCard {
  height: 100% !important
}

.deckiconslot {
  float: left;
  width: auto;
  height: auto;
  margin: 2px 2px;
  padding: 4px 4px;
  border: 2px solid rgb(85, 85, 85) !important;
}

.deckicon {
  cursor: pointer;
  display: flex;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat !important;
}

.deckicon:hover {
  border: 2px solid #6c5946 !important;
}

.deckicon {
  cursor: pointer;
  display: flex;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat !important;
}

.deckicon:hover {
  border: 2px solid #6c5946 !important;
}

.nodeckicon {
  cursor: pointer;
  width: 75px;
  height: 75px;
  display: flex;
  background-repeat: no-repeat !important;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.nodeckicon:hover {
  border: 2px solid #ffa852 !important;
}