<style>

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand bg-light" style="font-size:2rem" href="/">
        <img src="/liveportal/images/ODG_logo_black_trans.png" width="30" height="30" class="d-inline-block "
            alt="Streamroller Home">
        Streamroller
    </a>
    <div class="navbar-nav bg-light">
        <a class="nav-item nav-link bg-light" href="/adminpage">Admin</a>
        <a class="nav-item nav-link bg-light" href="/">Live</a>

    </div>
    <div class="navbar-nav ms-auto bg-light">
        <a href="#" class="nav-item nav-link bg-light btn-sm darkswitch">Light/Dark
            Mode</a>
    </div>
</nav>