<style>
    .btn:focus {
        outline: none;
        box-shadow: none;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand bg-light" style="font-size:2rem" href="/">
        <img src="images/ODG_logo_black_trans.png" width="50" height="50" class="d-inline-block " alt="">
        Streamroller
    </a>
    <div class="navbar-nav bg-light">
        <a class="nav-item nav-link bg-light" href="/">Admin</a>
        <a class="nav-item nav-link bg-light" href="/live">Live</a>

    </div>
    <div class="navbar-nav ms-auto bg-light">
        <a href="#" class="nav-item nav-link bg-light btn btn-outline-secondary darkswitch">Light/Dark
            Mode</a>
    </div>
</nav>