<style>

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand bg-light" style="font-size:2rem" href="/">
        <img src="/liveportal/images/ODG_logo_black_trans.png" width="30" height="30" class="d-inline-block " alt="Streamroller Home">
        Streamroller
    </a>
    <div class="navbar-nav bg-light">
        <a class="nav-item nav-link bg-light" href="/adminpage">Admin</a>
        <a class="nav-item nav-link bg-light" href="/">Live</a>

    </div>
    <div class="navbar-nav ms-auto bg-light">
        <a href="#" class="nav-item nav-link bg-light btn-sm darkswitch">Light/Dark
            Mode</a>
    </div>
    &nbsp
    <div>
        <div class="btn-group">
            <button id="shutdownbutton" type="button" class="btn btn-danger dropdown-toggle bg-light fg-dark" color="red" data-bs-toggle="dropdown" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" id="shutdownbuttonsvg" width="16" height="16" fill="grey" class="bi bi-power bg-light" viewBox="0 0 16 16">
                    <path d="M7.5 1v7h1V1h-1z" />
                    <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                </svg>
            </button>
            <ul id="shutdownbutton_menu" class="dropdown-menu dropdown-menu-end bg-dark">
                <li><a class="dropdown-item bg-dark text-light" href="#">StopServer</a></li>
<!--                <li><a class="dropdown-item bg-dark fg-light text-light" href="#">RestartServer</a></li> -->
            </ul>
        </div>
    </div>
</nav>