<div class="strearoller_footer">
    <p class="text-center text-muted">Creator <a href="https://twitch.tv/OldDepressedGamer"
            target="creatorwindow">twitch.tv/OldDepressedGamer</a>
        <BR><a href="https://github.com/SilenusTA/StreamRoller" target="creatorwindow">Streamroller on github</a>
        <BR><a href="https://streamlabs.com/olddepressedgamer/tip" target="creatorwindow">Donate</a>
    </p>
</div>