<div id="AlertsCard" class="card bg-light text-dark">
    <div class="card-body">
        <div id="AlertsTitle" class="card-title">Alerts</div>
        <div id="AlertCardText" style="overflow-y: auto; max-height: 300px;"></div>
    </div>
</div>