<div id="ChannelsListCard" class="card bg-light text-dark">
  <!--img class=" card-img-top" src="..." alt="Card image cap" -->
  <div class="card-body">
    <h5 id="CardTitle" class="card-title"></h5>
    <p id="CardText" class="card-text"></p>
  </div>
</div>