<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<div id="ChatMessagesCard"
    class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body px-1">
        <!-- div class="col-md-10 border bg-light px-1">Chat</div -->
        <div id="ChatMessagesCardTitle"
            class="card-title">Chat: (Please select a stream to join)</div>
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <!-- p id="ChatMessagesCardText1" class="card-text d-flex" style="overflow-y: auto;  max-height: 200px" -->
        <form>
            <div id="ChatMessagesCardText"
                style="overflow-y: scroll; max-height: 35vh;"></div>
            <div id="ChatMessageGroup"
                class="input-group">
                <div id="ChatMessageDropdown"
                    class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="chatuserselect"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        No Users
                    </button>
                    <ul id="chatuserchattername"
                        class="dropdown-menu"
                        aria-labelledby="chatuserselect">

                    </ul>
                </div>
                <div id="ChatPlatformMessageDropdown"
                    class="dropdown"
                    data-value="empty">
                    <button class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="chatplatformselect"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Empty
                    </button>
                    <ul id="chatplatformname"
                        class="dropdown-menu"
                        aria-labelledby="chatplatformselect">
                    </ul>
                </div>
                <input id="chatInputText"
                    class="form-control card bg-light text-dark border-secondary"
                    type="text"
                    placeholder="Say something smart to chat">
                <span class="input-group-btn">
                    <button class="btn btn-secondary"
                        for="chatInputText"
                        type="submit"
                        onclick="chatInput(event)">Chat:</button></span>
            </div>
        </form>
    </div>
</div>