<div id="ChatMessagesCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body">
        <h5 id="ChatMessagesCardTitle" class="card-title"></h5>
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <!-- p id="ChatMessagesCardText1" class="card-text d-flex" style="overflow-y: auto;  max-height: 200px" -->

        <div id="ChatMessagesCardText" style="overflow-y: auto; max-height: 350px;"></div>
        <div id="ChatMessageGroup" class="input-group">
            <input id="chatInputText" class="form-control card bg-light text-dark border-secondary" type="text"
                placeholder="">
            <span class="input-group-btn">
                <button class="btn btn-secondary for=" chatInputText" type="submit"
                    onclick="chatInput(event)">Chat</button></span>
        </div>
    </div>
</div>