<div id="ChatMessagesCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body px-1">
        <!-- div class="col-md-10 border bg-light px-1">Chat</div -->
        <div id="ChatMessagesCardTitle" class="card-title">Chat</div>
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <!-- p id="ChatMessagesCardText1" class="card-text d-flex" style="overflow-y: auto;  max-height: 200px" -->
        <form>
            <div id="ChatMessagesCardText" style="overflow-y: auto; height: 350px;"></div>
            <div id="ChatMessageGroup" class="input-group">
                <div id="ChatMessageDropdown" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="chatuserselect" 
                    data-bs-toggle="dropdown" aria-expanded="false">
                        No Users
                    </button>
                    <ul id="chatuserchattername" class="dropdown-menu" aria-labelledby="chatuserselect">
    
                    </ul>
                </div>
                <input id="chatInputText" class="form-control card bg-light text-dark border-secondary" type="text"
                    placeholder="">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" for="chatInputText" type="submit"
                        onclick="chatInput(event)">Chat</button></span>
            </div>
        </form>
    </div>
</div>