<!-- data in this card is filled in by /public/datahandler.js -->
<div id="ExtensionsListCard" class="card bg-light text-dark">
  <div class="card-body extensioncard">
    <h5 id="CardTitle" class="card-title"></h5>
    <p id="CardText" class="card-text"></p>
  </div>
</div>