<div id="ModMessagesCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body">
        <h5 id="ModMessagesCardTitle" class="card-title"></h5>
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <div id="ModMessagesCardText" style="overflow-y: auto; max-height: 100px;">
        </div>
        <div id="ModMessageGroup" class="input-group">
            <input id="modInputText" class="form-control card bg-light text-dark border-secondary" type="text"
                placeholder="">
            <span class="input-group-btn">
                <button class="btn btn-secondary for=" modInputText" type="submit"
                    onclick="modInput(event)">Chat</button></span>
        </div>

    </div>
</div>