<div id="ModMessagesCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body">
        <h5 id="ModMessagesCardTitle" class="card-title"></h5>
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <div id="ModMessagesCardText" style="overflow-y: auto; max-height: 100px;">
        </div>
        <!-- /div -->
    </div>
</div>