<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<div id="ModMessagesCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body px-1">
        <div id="ChatMessagesCardTitle" class="card-title">Mod Messages</div>
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <div id="ModMessagesCardText" style="overflow-y: auto; height: 8vh;">
        </div>
        <form>
            <div id="ModMessageGroup" class="input-group">
                <input id="modInputText" class="form-control card bg-light text-dark border-secondary" type="text"
                    placeholder="">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" for="modInputText" type="submit"
                        onclick="modInput(event)">Chat</button></span>
            </div>
        </form>
    </div>
</div>