<div id="OBSControllsCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body">
        <!-- h5 id="OBSControllsCardTitle" class="card-title"></h5 -->
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <div id="OBSInfo"></div>
        <div id="OBSControllsCardText" class="card-text d-flex" style="overflow-y: auto;  max-height: 200px">

            <div id="OBSButtons"></div>
            </p>
            <!-- /div -->
        </div>
    </div>