<div id="OBSControllsCard" class="card">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body">
        <!-- h5 id="OBSControllsCardTitle" class="card-title"></h5 -->
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <div id="OBSInfo" class="container">
            <div class="row">
                <div id="OBSUptime" class="col-2" data-toggle="tooltip" title="UpTime">Uptime</div>
                <div id="OBSRate" class="col-2" data-toggle="tooltip" title="Bitrate">Rate</div>
                <div id="OBSRender" class="col-2" data-toggle="tooltip" title="Render Frames"></div>
                <div id="OBSEncoder" class="col-2" data-toggle="tooltip" title="Encoder Frames"></div>
                <div id="OBSNetwork" class="col-2" data-toggle="tooltip" title="Network Output Frames"></div>
                <div id="OBSStrain" class="col-1" data-toggle="tooltip" title="Strain"></div>
            </div>
        </div>
        <div id="OBSControllsCardText" class="card-text d-flex" style="overflow-y: auto;  max-height: 200px">
            <div id="OBSDefaultButtons" style="border:1px solid rgb(174, 255, 0)"></div>
            <div id="OBSButtons" class="col-7"></div>
            <div id="OBSMute" class="col2"></div>
        </div>
    </div>
</div>