<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<div id="OBSControllsCard" class="card" style="border:1px solid grey">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body my-1">
        <!-- h5 id="OBSControllsCardTitle" class="card-title"></h5 -->
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <div id="OBSInfo" class="container">
            <div class="card-text d-flex">
                <div id="OBSUptime" class="col-3" data-toggle="tooltip" title="UpTime">Uptime</div>
                <div id="OBSRender" class="col-3" data-toggle="tooltip" title="Render Frames"></div>
                <div id="OBSNetwork" class="col-3" data-toggle="tooltip" title="Network Output Frames"></div>
                <div id="OBSStrain" class="col-3" data-toggle="tooltip" title="Strain"></div>
            </div>
        </div>
        <div id="OBSFilters" class="container my-1">
            <div class="card-text d-flex">
                <div id="OBSFiltersRowTitle" class="card-text d-flex col-1">Filters:</div>
                <div class="" name="OBSFiltersRow" id="OBSFiltersRow"> </div>
            </div>
        </div>
        <div id="OBScontrols" class="container my-1">
            <div class="card-text d-flex">
                <div id="OBSControllsCardText" class="card-text d-flex "></div>
                <div id="OBSDefaultButtons" style="border:1px solid rgb(174, 255, 0)"></div>
                <div id="OBSButtons" class="col-7"></div>
                <div id="OBSMute" class="col2"></div>
            </div>
        </div>
    </div>
</div>