<div id="SettingsPageCard" class="card bg-light text-dark">
  <ul class="nav nav-tabs bg-light" id="SettingsPageTabs"></ul>
  <div class='tab-content px-2 row content settings-body' id="SettingsPageContent"></div>
</div>