<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<div id="TriggersPageCard" class="card bg-light text-dark">
  <div class='tab-content px-2 content' id="TriggersPageContent">
    <h1>Triggers and Actions</h1>
    <p>This page allows you to control the triggers for events that happen within StreamRoller.
      Ie you may want to post a chat message when someone donates, or change the hue lights or obs scene depending
      on chats mood etc.
      <BR> Any empty field will match anything. ie, checking for discord messages an empty field will match all messages
      <BR> If there is something you think is missing from the options here please let me know (either discord/twitch or
      raise an issue on github). I'm have a long list of extension feature still left to add so I can push requests to
      the top of the list
    </p>
    <h4>Trigger</h4>

    <form class="form-inline" onsubmit="return createTriggerAction(this)">
      <div class=" form-group d-flex">
        <div class="form-group">
          <!-- hidden varialbes set when user changes the options -->
          <input id="triggerExtensionChoserTriggerName" type="hidden" name="triggerExtensionChoserTriggerName"
            class="form-control" value="somvalue" tabindex="-1" />
          <input id="triggerExtensionChoserChannel" type="hidden" name="triggerExtensionChoserChannel"
            class="form-control" value="somvalue" tabindex="-1" />
          <select id="triggerExtensionChoser" class="selectpicker btn btn-secondary" data-style="btn-danger"
            title="box one" value="1" name="triggerExtensionChoser" onchange="triggersLoadTriggers(this.value)">
          </select>
        </div>
        <div class="form-group">
          <select id="triggerExtensionTriggers" class="selectpicker btn btn-secondary" data-style="btn-danger"
            title="box two" value="1" name="triggerExtensionTriggers" onchange="triggersLoadParameters(this.value)">
          </select>
        </div>
        <div class="form-group">
          <div id="triggerExtensionTriggerParameters" class="form-group d-flex" title="box three" value="1"
            name="triggerExtensionTriggerParameters">
          </div>
        </div>
      </div>
      <label id="triggerExtensionChoserLabel" class="my-1"></label>
      <HR>
      <h4>Action</h4>
      <div class="form-group d-flex">
        <div class="form-group">
          <input id="actionExtensionChoserActionName" type="hidden" name="actionExtensionChoserActionName"
            class="form-control" value="somvalue" tabindex="-1" />
          <input id="actionExtensionChoserChannel" type="hidden" name="actionExtensionChoserChannel"
            class="form-control" value="somvalue" tabindex="-1" />
          <select id="actionExtensionChoser" class="selectpicker btn btn-secondary" data-style="btn-danger"
            title="box one" value="1" name="actionExtensionChoser" onchange="actionLoadAction(this.value)">
          </select>
        </div>
        <div class="form-group">
          <select id="actionExtensionAction" class="selectpicker btn btn-secondary" data-style="btn-danger"
            title="box two" value="1" name="actionExtensionAction" onchange="return actionLoadParameters(this.value)">
          </select>
        </div>
        <div class="form-group">
          <div id="actionExtensionActionParameters" class="form-group d-flex" title="box three" value="1"
            name="actionExtensionActionParameters">
          </div>
        </div>
      </div>
      <label id="actionExtensionChoserLabel" class="my-1"></label>
      <div class="form-group d-flex justify-content-center">
        <div class="my-2">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Update</button>
        </div>
      </div>
      <HR>
      <h4>Current Triggers and actions</h4>
      <table id="TriggersAndActionsTable" class="table  bg-light text-dark">
        <!--
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">extension</th>
            <th scope="col">type</th>
            <th scope="col">data</th>
          </tr>

        </thead>
      -->


        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>