<!--
      StreamRoller_source Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 
      StreamRoller is an all in one streaming solution designed to give a single
      'second monitor' control page and allow easy integration for configuring
      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
      controlled by donations etc)
 
      This program is free software: you can redistribute it and/or modify
      it under the terms of the GNU Affero General Public License as published
      by the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
 
      This program is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU Affero General Public License for more details.
 
      You should have received a copy of the GNU Affero General Public License
      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 
-->
<div id="TriggersPageCard" class="card bg-light text-dark">
  <div class='tab-content px-2 content' id="TriggersPageContent">
    <h1>Triggers and Actions</h1>
    <p>This page allows you to control the triggers for events that happen within StreamRoller.
      Ie you may want to post a chat message when someone donates, or change the hue lights or obs scene depending
      on chats mood etc.
      <BR> Any empty field will match anything. ie, checking for discord messages an empty field will match all messages
      <BR><B> If there is something you think is missing from the options here please let me know (either discord/twitch
        or
        raise an issue on github). I have a long list of extension feature still left to add so I can push requests to
        the top of the list for you</B>
      <BR>If you want to backup your triggers and settings file manually (recommended before installing updates in case
      it gets overwritten) simple copy/replace the file at %AppData%\StreamRoller\Data\datastore\liveportal.json as this
      contains all your triggers and actions</a>
      <BR>You can now add a variable to the actions field that will be replaced with the value of the corresponding
      trigger field.
      <BR>i.e when triggering on a chat message you could add something like '%%sender%% said %%message%%' and the %%
      vars will get replaced with the sender and message fields from the trigger used. Note that these can also be used
      for math calculations as long as the whole field is a maths function.
    <h4>Trigger matches</h4>
    A trigger can be set to match in various ways (if any field fails the below rules the trigger will fail):
    <ol>
      <li>If left empty then it will always match</li>
      <li>"Exact Match" expects the entered text to be identical to the triggered value</li>
      <li>"Anywhere" will match if the entered text appears anywhere in the triggered text</li>
      <li>"Start of line" will match if the entered text appears on the start of the triggered text (regardless what
        follows, usefull for matching commands in chat that have a value you want to read)</li>
    </ol>
    <h4>Action Variables</h4>
    You can select a field to put into the action using %%name%%. ie if you want to add a chat message sender name into
    a field use %%sender%%
    <BR>to select a specific word from a field (ie for a command in chat eg '!setscore 5') you can trigger on
    '!setscore' in a twitch chat message and used
    '%%message:2%%' in the action field to select only the second item (in this case the '5')
    </p>
    <!--

                  GROUPS DROPDOWN

    -->
    <h4>Group to add to (groups just help keep the lists tidy)</h4>
    <form class="form-inline">
      <div class=" form-group d-flex">
        <div class="form-group">
          <!-- group option list-->
          <select id="triggerExtensionGroupName" class="selectpicker btn btn-secondary" data-style="btn-danger"
            title="Select Group to add to" value="1" name="triggerExtensionGroupName">
          </select>
        </div>
      </div>
    </form>
    <!--
    
                      CREATE MACRO FORM
    
     -->
    <HR>
    <h4>Macro's</h4>
    <p>A Macro is a user defined trigger for use on buttons etc (ie on the live portal page) used to invoke an action.
      You can also add a color to use for the button on liveportal page here ie. the # value from <a
        href="https://htmlcolorcodes.com/">htmlcolorcodes.com</a>. ie '#FF0000' for red, or use simple colors such as
      'red','green'
    </p>
    <form class="form-inline" onsubmit="return createMacro(this)">
      <div class=" form-group d-flex">
        <div class="form-group">
          <div class="d-flex form-row align-items-center">
            <label class="form-label px-2 align-middle col-md-6" for="macroName">Name</label>
            <input type="text" class="form-control col-md-6" name="macroName" id="macroName" placeholder="Name" value=""
              title="Name">
          </div>
          <div class="d-flex form-row align-items-center">
            <label class="form-label px-2 align-middle col-md-6" for="macroDescription">Description</label>
            <input type="text" class="form-control col-md-6" name="macroDescription" id="macroDescription"
              placeholder="Description" value="" title="Description">
          </div>
          <div class="d-flex form-row align-items-center">
            <label class="form-label px-2 align-middle col-md-6" for="macroColor">Color</label>
            <input type="text" class="form-control col-md-6" name="macroColor" id="macroColor" placeholder="Color"
              value="" title="Color">
          </div>
          <button type="submit" data-bs-dismiss="modal" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-secondary" onclick="return deleteMacro()">Delete Macro</button>
        </div>
      </div>
    </form>
    <!--
            
                              ADD TRIGGER/ACTION FORM
            
     -->
    <HR>
    <div class="container-fluid">
      <form class="form-inline" onsubmit="return createTriggerAction(this)">
        <div class="row">
          <div class="col-6">
            <h4 style="width:100px; margin: auto;">Trigger</h4>

            <div class="form-group">
              <!-- hidden varialbes set when user changes the options -->
              <div class="row">
                <input id="triggerExtensionChoserTriggerName" type="hidden" name="triggerExtensionChoserTriggerName"
                  class="form-control" value="somevalue" tabindex="-1" />
              </div>
              <div class="row">
                <input id="triggerExtensionChoserChannel" type="hidden" name="triggerExtensionChoserChannel"
                  class="form-control" value="somevalue" tabindex="-1" />
              </div>
              <div class="row">
                <select id="triggerExtensionChoser" class="selectpicker btn btn-secondary" data-style="btn-danger"
                  title="" value="1" name="triggerExtensionChoser" onchange="triggersLoadTriggers(this.value)">
                </select>
                <div id="triggerExtensionChoserLabel" class="my-1"></div>
              </div>
              <div class="row">
                <select id="triggerExtensionTriggers" class="selectpicker btn btn-secondary" data-style="btn-danger"
                  title="" value="1" name="triggerExtensionTriggers" onchange="triggersLoadParameters(this.value)">
                </select>
              </div>
              <div class="row">
                <div class="col">
                  <div id="triggerExtensionTriggerParameters" class="form-group" title="" value="1"
                    name="triggerExtensionTriggerParameters">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h4 style="width:100px; margin: auto;">Action</h4>
            <div class="form-group">
              <div class="row">
                <input id="actionExtensionChoserActionName" type="hidden" name="actionExtensionChoserActionName"
                  class="form-control" value="somevalue" tabindex="-1" />
              </div>
              <div class="row">
                <input id="actionExtensionChoserChannel" type="hidden" name="actionExtensionChoserChannel"
                  class="form-control" value="somevalue" tabindex="-1" />
              </div>
              <div class="row">
                <select id="actionExtensionChoser" class="selectpicker btn btn-secondary" data-style="btn-danger"
                  title="" value="1" name="actionExtensionChoser" onchange="actionLoadAction(this.value)">
                </select>
              </div>
              <div id="actionExtensionChoserLabel" class="my-1"></div>
              <div class="row">
                <select id="actionExtensionAction" class="selectpicker btn btn-secondary" data-style="btn-danger"
                  title="" value="1" name="actionExtensionAction" onchange="return actionLoadParameters(this.value)">
                </select>
              </div>
              <div class="row">
                <div class="col">
                  <div id="actionExtensionActionParameters" class="form-group" title="" value="1"
                    name="actionExtensionActionParameters">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group d-flex justify-content-center">
            <div class="my-2">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" data-bs-dismiss="modal" class="btn btn-success">Update</button>
            </div>
          </div>
        </div>
      </form>
    </div>


    <!--
             
                        LIST OF CURRENT TRIGGERS AND ACTIONS
              
      -->
    <HR>
    <h4>Current Triggers and actions</h4>
    <table id="TriggersAndActionsTable" class="table  bg-light text-dark">
    </table>
    </form>
  </div>
</div>