<div id="ChatMessagesCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body">
        <h5 id="ChatMessagesCardTitle" class="card-title"></h5>
        <div id="ChatMessagesCardText" class="card-text d-flex" style="overflow-y: auto; max-height: 400px;">
        </div>
    </div>
</div>