<div id="CredentialsCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body">
        <h5 id="CredentialsCardTitle" class="card-title">Set Credentials</h5>
        <div id="CredentialsCardText" class="card-text d-flex" style="overflow-y: auto;  max-height: auto">
            <form onsubmit="CredentialsSubmit(event)">
                Add the credentials for extensions here. Check the extension document to find out what name/value pairs
                are needed
                <div class="form-group row">
                    <label for="CredentialExtensionName" class="col-sm-3 col-form-label">Extension</label>
                    <div class="col-sm-9">
                        <input type="text" name="CredentialExtensionName" class="form-control"
                            id="CredentialExtensionName" value="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CredentialName" class="col-sm-3 col-form-label">Name</label>
                    <div class="col-sm-9">
                        <input type="text" name="CredentialName" class="form-control" id="CredentialName" value="Name">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="CredentialValue" class="col-sm-3 col-form-label">Value</label>
                    <div class="col-sm-9">
                        <input type="password" name="CredentialValue" class="form-control" id="CredentialValue"
                            value="xxxxx">
                    </div>
                </div>
                <div class="form-group row justify-content-sm-center">
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary col-sm-3 ">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Stop server button not needed. When the env file changes nodemon will restart the server
    <div class="card-body">
        <h5 id="CredentialsCardTitle" class="card-title"></h5>
        <div id="CredentialsCardText" class="card-text d-flex" style="overflow-y: auto;  max-height: auto">
            <form onsubmit="StopServer(event)">
                <div class="form-group row">
                    <div class="form-group row justify-content-sm-center">
                        <label for="StopServer" class="col-form-label">Stop Server</label>
                        <button id="StopServer" type="submit" data-bs-dismiss="modal" class="btn btn-primary  ">Stop
                            Server</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    -->
</div>