:root {
  /* sizes */
  --navbar-height: 15%;
  --mainbody-height: 80%;
  --footer-height: 5%;

  --autopilot-color-white: #ffff !important;
  --autopilot-color-light-grey: #555555 !important;
  --autopilot-color-dark-grey: #212529 !important;
  /* these are the default colors, they will be overidden in havascipt */
  --autopilot-bg-color: var(--autopilot-color-dark-grey);
  --autopilot-text-color: #f8f9fa;
  --autopilot-a-link-hover-color: #7895c0;

  /* dark mode colors*/
  --autopilot-bg-color_dark_mode: var(--autopilot-color-dark-grey);
  --autopilot-text-color_dark_mode: #f8f9fa;
  --autopilot-a-link-hover-color: #7895c0;

  /* light mode colors*/
  --autopilot-bg-color_light_mode: #f8f9fa !important;
  --autopilot-text-color_light_mode: #212529 !important;
  --autopilot-a-link-hover-color: var(--autopilot-color-dark-grey) !important;

  /* general colors */
  --autopilot-a-link-color: #8baab8 !important;
  --autopilot-a-link-hover-color: #7895c0 !important;
}

@font-face {
  font-family: 'Audiowide-Regular';
  src: url(/autopilot/stylesheets/Audiowide-Regular.ttf);
}

body,
html {
  font-family: "Audiowide-Regular";
  height: 100%;
  background-color: var(--autopilot-bg-color) !important;
  color: var(--autopilot-text-color) !important;

}

/* Themes */
.autopilot-theme-dark {
  background-color: var(--autopilot-bg-color) !important;
  color: var(--autopilot-text-color) !important;
}

.autopilot-theme-light {
  background-color: var(--autopilot-bg-color) !important;
  color: var(--autopilot-text-color) !important;
}

/* links */
a {
  color: var(--autopilot-text-color) !important;
}

a:hover {
  color: var(--autopilot-a-link-hover-color) !important;
}

/* cards */
.card {
  font-family: sans-serif;
  position: sticky;
  border: 1px solid var(--autopilot-color-light-grey) !important;
  text-align: left;
  max-height: var(--mainbody-height) !important;
  background-color: var(--autopilot-bg-color) !important;
  color: var(--autopilot-text-color) !important;
}

.cardheader {
  /*padding: 10px;
  cursor: move;*/
  background-color: var(--autopilot-color-light-grey) !important;
  color: var(--autopilot-color-white);
}

.cardbody {
  max-height: var(--mainbody-height) !important;
  /*padding: 10px;*/
  overflow-y: auto;
  text-align: left;
}

.card-title {
  font-family: "Audiowide-Regular";
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 0px;
}

input {
  background-color: rgb(189, 189, 189) !important;
}

.form-control {
  background-color: rgb(189, 189, 189) !important;
}

.form-check-input {
  background-color: rgb(189, 189, 189) !important;
}

.nav-tabs {
  border: none;
}

.nav-link.active {
  background-color: var(--autopilot-color-light-grey) !important;
}