/*@import url('/liveportal/stylesheets/Audiowide-Regular.ttf');*/
@font-face {
	font-family: 'Audiowide-Regular';
	src: url(/liveportal/stylesheets/Audiowide-Regular.ttf);
	}
body 
{
  font-family: "Audiowide-Regular";
}
#ChatMessagesCard
{
  font-family: sans-serif;
}
#MessagesCard
{
  font-family: sans-serif;
}
a 
{
  color: #1ea0d3;
}
