/*@import url('/liveportal/stylesheets/Audiowide-Regular.ttf');*/
@font-face {
	font-family: 'Audiowide-Regular';
	src: url(/liveportal/stylesheets/Audiowide-Regular.ttf);
	}
body 
{
  font-family: "Audiowide-Regular";
}
#ChatMessagesCard
{
  font-family: sans-serif;
}
#MessagesCard
{
  font-family: sans-serif;
}
a 
{
  color: #1ea0d3;
}
.extensioncard ul
{     
  list-style: none !important;
  /* Remove default bullets */
}

.extensioncard ul  li::before 
{
  content: "\2022";
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #1ea0d3;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 1em;
  /* Also needed for space (tweak if needed) */
  margin-left: -1em;
  /* Also needed for space (tweak if needed) */
}