<div id="SettingsPlaceholder" class="d-none">
    <!-- START of configurable section, this needs to be updated dynamically for each element that is placed -->
    <div id="name" class="card bg-light text-dark">

        <!-- href (to Trigger Modal) -->
        <a href="#myModal" class="ext-modal-link" style="text-decoration:none" data-bs-toggle="modal">Settings</a>
        <!-- mymodal id will be replaced by the name of the extension.-->
        <form id="myModal" class="modal fade" role="dialog" tabindex="-1">
            <!-- load this part from extension-->
            <!-- Modal HTML -->
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content bg-light text-dark">
                    <div class="modal-header">
                        <h5 class="modal-title">Settings</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <p>This code should be passed from the extension. If you are seeing this page then somethine is
                            wrong. Did the extension send valid admin settings code </p>
                        <p class="text-secondary"><small>ie, auth keys, features on/off etc</small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" data-dismiss="modal" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
            <!-- END: load this part from extension-->
        </form>

    </div>
    <!-- End of configurable section, this needs to be updated dynamically for each element that is placed -->
</div>