<div class="strearoller_footer">
    <p class="text-center text-muted">Links
        <a href="https://twitch.tv/OldDepressedGamer" target="creatorwindow">twitch.tv/OldDepressedGamer</a>
        <a href="https://github.com/SilenusTA/StreamRoller" target="githubwindow">Streamroller on github</a>
        <a href="https://discord.gg/EyJy8brZ6R" target="discordwindow">Discord link</a>
        <a href="https://streamlabs.com/olddepressedgamer/tip" target="donatewindow">Donate</a>
    </p>
</div>