/**
 *      StreamRoller Copyright 2023 "SilenusTA https://www.twitch.tv/olddepressedgamer"
 * 
 *      StreamRoller is an all in one streaming solution designed to give a single
 *      'second monitor' control page and allow easy integration for configuring
 *      content (ie. tweets linked to chat, overlays triggered by messages, hue lights
 *      controlled by donations etc)
 * 
 *      This program is free software: you can redistribute it and/or modify
 *      it under the terms of the GNU Affero General Public License as published
 *      by the Free Software Foundation, either version 3 of the License, or
 *      (at your option) any later version.
 * 
 *      This program is distributed in the hope that it will be useful,
 *      but WITHOUT ANY WARRANTY; without even the implied warranty of
 *      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *      GNU Affero General Public License for more details.
 * 
 *      You should have received a copy of the GNU Affero General Public License
 *      along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
/*@import url('/streamroom/stylesheets/Audiowide-Regular.ttf');*/
:root {
  /* sizes */
  --navbar-height: 15%;
  --mainbody-height: 80%;
  --footer-height: 5%;

  --sr-color-white: #ffff;
  --sr-color-light-grey: #555555;
  --sr-color-dark-grey: #212529;

  /* dark mode colors*/
  --sr-bg-color_dark_mode: var(--sr-color-dark-grey) !important;
  --sr-text-color_dark_mode: #f8f9fa !important;

  /* light mode colors*/
  --sr-bg-color_light_mode: #f8f9fa !important;
  --sr-text-color_light_mode: #212529 !important;

  /* general colors */
  --sr-a-link-color: #8baab8 !important;
  --sr-a-link-hover-color: #7895c0 !important;
  --sr-text-color_light_mode: #212529 !important;
}

@font-face {
  font-family: 'Audiowide-Regular';
  src: url(/streamroom/stylesheets/Audiowide-Regular.ttf);
}

body,
html {
  font-family: "Audiowide-Regular";
  height: 100%;
  overflow: hidden;
}

/* setup the main area sizes*/
#streamrollerheader {
  height: var(--navbar-height) !important;
}

#streamrollerbody {
  height: var(--mainbody-height) !important;
  max-height: var(--mainbody-height) !important;
}

#streamrollerfooter {
  height: var(--footer-height) !important;
}

/* Themes */
.sr-theme-dark {
  background-color: var(--sr-bg-color_dark_mode) !important;
  color: var(--sr-text-color_dark_mode) !important;
}

.sr-theme-light {
  background-color: var(--sr-bg-color_light_mode) !important;
  color: var(--sr-text-color_light_mode) !important;
}

/* links */
a {
  color: var(--sr-color-white) !important;
}

a:hover {
  color: var(--sr-a-link-hover-color) !important;
}


/* cards */
.card {
  position: sticky;
  border: 1px solid var(--sr-color-light-grey);
  text-align: center;
  max-height: var(--mainbody-height) !important;
}

.cardheader {
  /*padding: 10px;
  cursor: move;*/
  background-color: var(--sr-color-light-grey);
  color: var(--sr-color-white);
}

.cardbody {
  max-height: var(--mainbody-height) !important;
  /*padding: 10px;*/
  overflow-y: auto;
  text-align: left;
}

.nav-tabs {
  border: none;
}

.nav-link.active {
  background-color: var(--sr-color-light-grey) !important;
}

#homepage {
  display: flex;
  flex-direction: row;
  max-height: var(--mainbody-height) !important;
}

#lefthomepagepane {
  display: flex;
  flex-direction: column;
  max-height: var(--mainbody-height) !important;
  overflow-y: auto;
}

#righthomepagepane {
  max-height: var(--mainbody-height) !important;
  overflow-y: auto;
}


/*
old stuff,
add in as requred 
*/
/*
.card-title {
  font-family: "Audiowide-Regular";
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 0px;
}

input {
  background-color: rgb(189, 189, 189);
}

.form-control {
  background-color: rgb(189, 189, 189);
}

.form-check-input {
  background-color: rgb(189, 189, 189);
}


#ChatMessagesCard {
  font-family: sans-serif;
}

#ModMessagesCard {
  font-family: sans-serif;
}

#MessagesCard {
  font-family: sans-serif;
}

#TriggersPageCard {
  font-family: sans-serif;
}



.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

.nav-tabs {
  border: 0px;
  padding: 1px;
}

#SettingsPageTabs {
  border: 1px dotted grey
}

.modal {
  font-family: "Noto Sans";
  font-size: large;
}

.settings-body {
  font-family: "Noto Sans";
  font-size: large;
}

.card-body {
  padding-top: 1px;
  padding-bottom: 1px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.extensioncardicon {
  color: #1ea0d3;
  font-weight: bold;
  display: inline-block;
  width: 1em;
}

.dropdown-menu {
  border: 1px solid grey;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .row {
  border: 1px dotted grey;
}

.box .row.header {
  flex: 0 1 auto;

}

.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}
*/