<div id="MessagesCard" class="card bg-light text-dark">
    <!--img class=" card-img-top" src="..." alt="Card image cap" -->
    <div class="card-body">
        <h5 id="MessagesCardTitle" class="card-title"></h5>
        <!-- div class="" -->
        <!-- style="overflow-y: auto;  max-height: 300px" -->
        <p id="MessagesCardText" class="card-text d-flex" style="overflow-y: auto;  max-height: 200px">
        </p>
        <!-- /div -->
    </div>
</div>