<!DOCTYPE html>
<html lang="en">

<body id="mainWindow" class="container-fluid main_container light bg-light text-dark">
    <%- include('../partials/head'); %>
    <div class="main_body container-fluid main-container  box card bg-dark text-light ">
        <div id="MacroButtonsCard" class="card bg-dark text-light my-1" style="border:1px solid grey">
            <div class="card-body">
                <div id="MacroButtons" class="container">
                    <div id="MacroButtonsRow" class="row my-1" style="border:0px">
                    </div>
                </div>
            </div>
        </div>
        <%- include('../scripts/datahandler'); %>
        <%- include('../../public/fakedecksettingswidgetsmall_placeholder.html'); %>
    </div>
</body>

</html>