<div id="discordchatcard" class="card sr-theme-dark">
    <div id="discordchatcardheader" class="cardheader">discord Chat
        <a href="#" onClick="reOrderCard('discordchatcard',-1);return false" title="up"><img
                src="/streamroom/images/icon_up.png" width="20px" height="20px"></a><a href="#"
            onClick="reOrderCard('discordchatcard',1);return false" title="down"><img
                src="/streamroom/images/icon_down.png" width="20px" height="20px"></a>
    </div>
    <div id="discordchatcardbody" class="cardbody">
        discord messages appear here
    </div>

</div>